@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --surface: #f8f9fa;
  --surface-dim: #d9dadb;
  --surface-container-lowest: #ffffff;
  --surface-container-low: #f3f4f5;
  --surface-container: #edeeef;
  --surface-container-high: #e7e8e9;
  --surface-container-highest: #e1e3e4;
  --surface-variant: #e1e3e4;

  --on-surface: #191c1d;
  --secondary: #5f5e5e;

  --primary: #006422;
  --primary-container: #1e7e34;

  --outline: #6f7a6d;
  --outline-variant: #bfcaba;

  font-family: 'Inter', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--on-surface);
  background: var(--surface);
}

* {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  min-height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  background: var(--surface);
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  -webkit-tap-highlight-color: transparent;
}

#root {
  min-height: 100vh;
}